<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li id="profile_title" class="nav-header"><%=t("profile") %></li>
    <div class="profile">


      <% if current_user %>
      <div class="well">
      <p><%= current_user.email %></p>
      </div>

      <% else %>
      <h1> Name</h1>
      <% end %>
      <%= image_tag("/assets/vie.jpeg", :alt => "vie", :width => "100px", :height => "100px") %>
      <blockquote>
        <p class="lead"><%= t("slogan") %></p>
      </blockquote>
    </div>
  </ul>
</div>
