/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap

*/

html,body{
  height: 100%;
  margin : 0;
  padding : 0;
  z-index:0;
}
#wrapper
{
  min-height:100%;
  /*  padding-bottom: -20px;*/
}
#footer
{
  clear: both;
  /*  padding: 0;*/
  clear:both;
  text-align: center;
  border-top : 5px solid #015990;
  /*padding : 5px;*/
  width: 100%;
  /*margin-top: 20px;*/
  height: 20px;

}
#top
{
  min-height: 100%;
}
#mid
{
  min-height: 100%;
}

#error_explanation
{
 /* border-color: red;
  border-style: solid;
  color: yellow;*/
}
.container-fluid
{
  vertical-align: middle;
}

.nav
{
  vertical-align: middle;
}
