.page
{
  text-align: center;
}
#content
{
  /*text-align: center;
  margin: 0px auto;*/
}

#pa_ge
{
/*  clear: both;
  position: relative;
  float: left;*/
}
.comment
{
  clear: both;
  position: relative;
}
.comment_a
{
/*
  outline: 10px dotted #2020a6; outline-offset: 10px;*/

}
#comment
{
  float: left;clear: both;
  width: 100%;
}
#navbar_inner
{
  border: 0px;
  background: rgb(34,34,34);
  border-radius: 0px;

}
.table thead th th th
{
  text-align: center;
}
/*Profile CSS*/
#profile_title
{
  text-align: center;
}
.profile
{
  text-align: center;
  left: 50%;
  margin:0 auto;
}
/*Post CSS*/
#posts
{
  border: 2px solid;
  border-radius: 2px;
}
#flash_notice, #flash_error
{
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice
{
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error
{
  background-color: #FCC;
  border: solid 1px #C66;
}

#current_user
{
  color: rgb(57,219,172);
  padding-top: 15px;
  margin:0 auto
}